JsonMap/Config/JsonMapQuerryer.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:JsonMap" elementFormDefault="qualified" targetNamespace="urn:JsonMap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="jsonMapSection" type="tns:JsonMap.JsonMapSectionCT" />
	<xs:complexType name="JsonMap.JsonMapSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="jsonMapQueryer" type="tns:JsonMap.JsonMapQueryerCT">
				<xs:annotation>
					<xs:documentation>The JsonMapQueryer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JsonMap.JsonMapQueryerCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="validationClasses" type="tns:JsonMap.ValidationClassesCT">
				<xs:annotation>
					<xs:documentation>The ValidationClasses.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="mappingAssemblies" type="tns:JsonMap.MappingAssembliesCT">
				<xs:annotation>
					<xs:documentation>The MappingAssemblies.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="mappingNamespaces" type="tns:JsonMap.MappingNamespacesCT">
				<xs:annotation>
					<xs:documentation>The MappingNamespaces.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="jSTypeEnumConfig" type="tns:JsonMap.JSTypeEnumConfigCT">
				<xs:annotation>
					<xs:documentation>The JSTypeEnumConfig.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="jsonMapEnumConfig" type="tns:JsonMap.JsonMapEnumConfigCT">
				<xs:annotation>
					<xs:documentation>The JsonMapEnumConfig.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="jsonMapQueryerType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The JsonMapQueryerType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="savedMapFileName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SavedMapFileName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="JsonMap.JSTypeEnumConfigCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="observableArrayEnum" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The ObservableArrayEnum.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enumType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EnumType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="primativeEnum" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The PrimativeEnum.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="viewModelEnum" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The ViewModelEnum.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="JsonMap.JsonMapEnumConfigCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="enumType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EnumType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultMapEnum" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The DefaultMapEnum.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="inheritedMapEnum" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The InheritedMapEnum.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="JsonMap.ValidationClassesCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="validationClass" type="tns:JsonMap.ValidationClassCT">
				<xs:annotation>
					<xs:documentation>The ValidationClass Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="notNullMethod" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NotNullMethod.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="JsonMap.MappingAssembliesCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="mappingAssembly" type="tns:JsonMap.MappingAssemblyCT">
				<xs:annotation>
					<xs:documentation>The MappingAssembly Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JsonMap.ValidationClassCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="staticClass" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StaticClass.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="JsonMap.MappingAssemblyCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="assemblyName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AssemblyName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="JsonMap.MappingNamespacesCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="mappingNamespace" type="tns:JsonMap.MappingNamespaceCT">
				<xs:annotation>
					<xs:documentation>The MappingNamespace Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JsonMap.MappingNamespaceCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="namespace" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Namespace.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
